POKEMON_COUNT=905 # If you used the emoji upload script, we are limited to Gen 1-8
POKE_API_URL=https://pokeapi.co/api/v2
LOG_LEVEL=20 # INFO level logs

# Spawning settings
SHINY_SPAWN_ONE_IN=4096 # Shinies occur 1 in every 4096 by default
MIN_SECONDS_TO_SPAWN=5
MAX_SECONDS_TO_SPAWN=15
SEC_BEFORE_SPAWN_NOTIFY=30

# Catch settings
CATCH_COOLDOWN_SECONDS=2
# See _calculate_user_catch_rate in catch_view for the formula that uses these
# Don't touch these numbers unless you know what you are doing
RARE_CHANCE_PERCENT=2
RARE_SCALING_FACTOR=2
SHINY_CHANCE_PERCENT=3
SHINY_SCALING_FACTOR=3
REGULAR_CHANCE_PERCENT=4
REGULAR_SCALING_FACTOR=5
SOFT_BOX_LIMIT=12 # How many pokemon to allow before applying SOFT_BOX_PENALTY
SOFT_BOX_PENALTY=1 # reduce catch rates by this number for each pokemon over SOFT_BOX_LIMIT
CATCH_WINDOW_SECONDS=30 # How long before a Pokemon flees
NOTIFICATION_ROLE_NAME=grass-watchers

# Trade settings
TRADE_WINDOW_SECONDS=1800 # How long before a trade expires

