POKEMON_COUNT=905 # If you used the emoji upload script, we are limited to Gen 1-8
POKE_API_URL=https://pokeapi.co/api/v2
LOG_LEVEL=20 # INFO level logs

# Spawning settings
SHINY_SPAWN_ONE_IN=4096 # Shinies occur 1 in every 4096 by default
MIN_SECONDS_TO_SPAWN=5
MAX_SECONDS_TO_SPAWN=15

# Catch settings
CATCH_COOLDOWN_SECONDS=2
RARE_CHANCE_PERCENT=3
SHINY_CHANCE_PERCENT=100
REGULAR_CHANCE_PERCENT=30
CATCH_WINDOW_SECONDS=30 # How long before a Pokemon flees
NOTIFICATION_ROLE_NAME=grass-watchers

# Trade settings
TRADE_WINDOW_SECONDS=1800 # How long before a trade expires

